.NavItems {
  padding: 0;
  list-style: none;
  margin-left: 20px;
  display: flex;
  flex-flow: column;
}

@media (min-width: 500px) {
  .NavItems {
    flex-flow: row;
    height: 100%;
    align-items: center;
    margin-top: 0;
    margin-left: 0;
    margin-right: 20px;
  }
}
